.blue-background {
    background-color: #00308F;
     color: white;
     min-height: '250px';  
    display: 'flex';
    justify-content: 'center';
    align-items: 'center';
  };

  .input-field {
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 100px;
  }